<div class="login-form text-center rounded bg-black shadow overflow-none">
    <form method="POST">
        <h4 class="bg-dark text-white py-4">Admin Login</h4>
        <div class="p-4">
            <div class="mb-3">
                <input name="username" required type="text" class="form-control shadow-none text-center h-font-1" placeholder="Enter Admin's Username"> 
            </div>

            <div class="mb-4">              
                <input name="password" required type="password" class="form-control shadow-none text-center h-font-1" placeholder="Enter Admin's Password">   
            </div>
            <button name="login-button" type="submit" class="btn h-font-2 text-black custom-bg shadow-none">Login</button>
        </div>
    </form>
</div>