		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Admin</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>

			<div class="container">
      <div class="row">
        <div class="col-md-12 text-center pt-5">
          <h2 class="display-3 text-black">Welcome back, Admin {{user.username}}!</h2>
        </div>
      </div>
    </div>
		<!-- End Hero Section -->