<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Admin</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
        <div class="container mt-4 d-flex justify-content-center">
            <div class="card" style="width: 25rem;">          
                <h4 class="alert alert-danger mt-4">You do not have permission to get access here!</h4>
            </div>
        </div>