<div class="container mt-4 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">            
        <div class="card-header">Register Form</div>    
        <div class="card-body">
            <form action="register" method="POST">
                <div class="mb-3">
                    <label for="name-reg" class="form-label">Username</label>
                    <input type="text" class="form-control" id="name-reg" name="username">                        
                </div>
                <div class="mb-3">
                    <label for="email-reg" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email-reg" name="email">                        
                </div>
                <div class="mb-3">
                    <label for="password-reg" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-reg" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        {{#if message}}
            <h4 class="alert alert-info mt-4">{{message}}</h4>
        {{/if}}
    </div>
</div>