<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>My account</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>

<div>
    <div class="mb-l">
        <h3 id="" class="fr-head h3">
            <span class="title">Hồ sơ</span>
        </h3>
    </div>
    <div>
        <div class="fr-flbox">
            <div class="w4-f">
                <div class="mb-m profile-details">
                    <div class="fr-flbox column top">
                        <h4 id="" class="fr-head h4"><span class="title">Địa chỉ email</span></h4>
                        <span class="row-description mt-xxxs pr-xs" data-test="member-email">hongminhau2011@gmail.com</span>
                    </div>
                </div>
                <div class="mb-m profile-details">
                    <div class="fr-flbox column top">
                        <h4 id="" class="fr-head h4"><span class="title">Tên</span></h4>
                        <span class="row-description mt-xxxs pr-xs" data-test="member-name">Âu Minh</span>
                    </div>
                </div>
                <div class="mb-m profile-details">
                    <div class="fr-flbox column top">
                        <h4 id="" class="fr-head h4"><span class="title">Địa chỉ</span></h4>
                        <span class="row-description mt-xxxs pr-xs" data-test="member-address">C4/3BP, Phạm Hùng street, Xã Bình Hưng, Huyện Bình Chánh, Hồ Chí Minh</span>
                        </div>
                    </div>
                </div>
            <div class="w1-f"></div>
            <div class="w4-f">
                <div class="mb-m profile-details">
                    <div class="fr-flbox column top">
                        <h4 id="" class="fr-head h4"><span class="title">Điện thoại</span></h4>
                        <span class="row-description mt-xxxs pr-xs" data-test="member-phone">0913110448</span>
                    </div>
                </div>
                <div class="mb-m profile-details">
                    <div class="fr-flbox column top">
                        <h4 id="" class="fr-head h4"><span class="title">Điện thoại di động</span></h4>
                            <span class="row-description mt-xxxs pr-xs" data-test="member-mobile-phone">0913110448</span>
                    </div>
                </div>
                <div class="mb-m profile-details">
                    <div class="fr-flbox column top">
                        <h4 id="" class="fr-head h4"><span class="title">Sinh nhật</span></h4>
                        <span class="row-description mt-xxxs pr-xs" data-test="member-birthday">20/11/2000</span>
                    </div>
                </div>
                <div class="mb-m profile-details">
                    <div class="fr-flbox column top">
                        <h4 id="" class="fr-head h4"><span class="title">Giới tính</span></h4>
                        <span class="row-description mt-xxxs pr-xs" data-test="member-gender">Nam</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>