<div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center pt-5">
          <h2 class="display-3 text-black">WELCOME BACK, {{username}}!</h2>
          <p>
            <a href="/" class="btn btn-sm btn-outline-black">Home</a>
            <a href="/account/{{username}}" class="btn btn-sm btn-outline-black">Profile</a>
          </p>
        </div>
      </div>
    </div>
  </div>