<div class="container mt-4 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">            
        <div class="card-header">Reset Password</div>    
        <div class="card-body">
            <form method="POST">
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email">                        
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>

        {{#if message}}
            <h4 class="alert alert-info mt-4">{{message}}</h4>
        {{/if}}

        {{#if error}}
            <h4 class="alert alert-danger mt-4">{{error}}</h4>
        {{/if}}
    </div>
</div>