<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Login</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

        <div class="container mt-4 d-flex justify-content-center">
			<div class="card" style="width: 18rem;">            
				<div class="card-header">Login</div>    
				<div class="card-body">
					<form method="POST">
						
						<div class="mb-3">
							<label for="username-reg" class="form-label">Username</label>
							<input type="text" class="form-control" id="username-reg" name="username">                        
						</div>
						<div class="mb-3">
							<label for="password-reg" class="form-label">Password</label>
							<input type="password" class="form-control" id="password-reg" name="password">
						</div>

						<button type="submit" class="btn btn-primary mb-2">Submit</button>
						<div class="mb-2">
                   		 	Haven't registered yet? 
                    		<a href="/register">Register here</a>
                		</div>
						<div>
							<a href="/login/forgot_password">Forgot password?</a>
						</div>
					</form>
				</div>

				{{#if message}}
					<h4 class="alert alert-info mt-4">{{message}}</h4>
				{{/if}}

				{{#if error}}
					<h4 class="alert alert-danger mt-4">{{error}}</h4>
				{{/if}}
			</div>
		</div>

