<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Order</h1>
                </div>
            </div>
            <div class="col-lg-7">
                
            </div>
        </div>
    </div>
</div>
		

		

<div class="untree_co-section before-footer-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-name">
                                    <input name="product_name" class="h5 text-black" value="{{product_name}}">
                                </td>
                                <td>${{product_price}}</td>
                                <td>
                                    <input name="quantity" type="number" class="form-control text-center quantity-amount" value="1" placeholder="" width="50px" aria-label="Example text with button addon" aria-describedby="button-addon1" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mb-2">Add into cart</button>
                </div>
            </form>
            {{#if message}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
        </div>
    </div>
</div>
                    